*{
    padding: 0;
    margin: 0;
    border: none;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3a3a;
}
#relogio{
    background-color: rgb(14, 12, 12);
    width: 420px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.514);
    border: #1b1a1a1a 1px solid;
}
#value{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: #fff;
}